@page "/Card"
@inject IJSRuntime JS
<div class="card-container">
    <div id="pokemon-card" class="card">
        <div class="card-front">
            <img src="./IMG/arcanineEX.jpg" alt="Frente de la tarjeta">
            <div class="rating-badge">
                <div class="container-rating-score">
                    <p class="rating-score">★ 8.3/10</p>
                </div>
            </div>
        </div>
        <div class="card-back">
            <img src="./IMG/card_backside.png" alt="Reverso de la tarjeta">
        </div>
    </div>
  
  <div class="card-title">
        <h1>Arcanine ex</h1>
  </div>
  
  <div class="rating-stars">
    <p class="star" data-value="1">★</p>
    <p class="star" data-value="2">★</p>
    <p class="star" data-value="3">★</p>
    <p class="star" data-value="4">★</p>
    <p class="star" data-value="5">★</p>
    <p class="star" data-value="6">★</p>
    <p class="star" data-value="7">★</p>
    <p class="star" data-value="8">★</p>
    <p class="star" data-value="9">★</p>
    <p class="star" data-value="10">★</p>
  </div>
</div>

<script src="./JS/CardViewer.js"></script>
<script src="./JS/Particles.js"></script>
<script src="./JS/Star.js"></script>